
# install:repl
aiohttp>=3.8.1
click>=8.1.3
prompt-toolkit==3.0.8

# install:datastore
redis>=2.10.6
sqlalchemy>=1.1.15

# install:twisted
twisted[conch,serial]>=20.3.0

# install:tornado
tornado==4.5.3


# -------------------------------------------------------------------
# documentation, everything needed to generate documentation.
# -------------------------------------------------------------------
# install:documentation
humanfriendly
m2r2
recommonmark
Sphinx
sphinx-rtd-theme


# -------------------------------------------------------------------
# development, everything needed to develop/test/check.
# -------------------------------------------------------------------
# install:development]
asynctest
bandit
black
codespell
coverage
flake8
flake8-docstrings
isort
pep8
pyflakes
pylint
pytest
pytest-cov
toxf
jmespath


# -------------------------------------------------------------------
# Python packages used by AMQP.
# -------------------------------------------------------------------
pika


# -------------------------------------------------------------------
# Python packages used by HTTP.
# -------------------------------------------------------------------
http 

# -------------------------------------------------------------------
# Python packages used by MQTT.
# -------------------------------------------------------------------
paho
